node_modules/
dist/
.vitepress/cache/
.vitepress/dist/
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/
.env
.env.local
.env.*.local
*.log
.vercel
.env*.local
.DS_Store
**/.DS_Store
demo/slot-machine-temp/
.github/workflows/
*.tgz
!demo/softstop.tgz
